@font-face {font-family:"NissanAG Regular"; src:url("../fonts/nissanag-regular.eot"); src:url("../fonts/nissanag-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/nissanag-regular.woff") format("woff"), url("../fonts/nissanag-regular.ttf") format("truetype"), url("../fonts/nissanag-regular.svg#nissan_agregular") format("svg"); font-weight:normal; font-style:normal}
@font-face {font-family:"NissanAG Light"; font-weight:normal; font-style:normal; src:url("../fonts/nissanpro-light.eot"); src:url("../fonts/nissanpro-light.eot?#iefix") format("embedded-opentype"), url("../fonts/nissanpro-light.woff") format("woff"), url("../fonts/nissanpro-light.ttf") format("truetype"), url("../fonts/nissanpro-light.svg#nissan_prolight") format("svg")}
@font-face {font-family:"NissanAG Light Ext"; font-weight:normal; font-style:normal; src:url("../fonts/nissanpro-light-ext.eot"); src:url("../fonts/nissanpro-light-ext.eot?#iefix") format("embedded-opentype"), url("../fonts/nissanpro-light-ext.woff") format("woff"), url("../fonts/nissanpro-light-ext.ttf") format("truetype"), url("../fonts/nissanpro-light-ext.svg#nissan_prolight_ext") format("svg")}
@font-face {font-family:"NissanAG Medium"; font-weight:normal; font-style:normal!important; src:url("../fonts/nissanpro-medium.eot"); src:url("../fonts/nissanpro-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/nissanpro-medium.woff") format("woff"), url("../fonts/nissanpro-medium.ttf") format("truetype"), url("../fonts/nissanpro-medium.svg#nissan_promedium") format("svg")}
@font-face {font-family:"NissanAG Medium Ext"; font-weight:normal; font-style:normal; src:url("../fonts/nissanpro-medium-ext.eot"); src:url("../fonts/nissanpro-medium-ext.eot?#iefix") format("embedded-opentype"), url("../fonts/nissanpro-medium-ext.woff") format("woff"), url("../fonts/nissanpro-medium-ext.ttf") format("truetype"), url("../fonts/nissanpro-medium-ext.svg#nissan_promed_ext") format("svg")}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {font-family:"NissanAG Light"; src:url("../fonts/nissanpro-light.svg#nissan_prolight") format("svg")}
    @font-face {font-family:"NissanAG Light Ext"; src:url("../fonts/nissanpro-light-ext.svg#nissan_prolight_ext") format("svg")}
    @font-face {font-family:"NissanAG Medium"; src:url("../fonts/nissanpro-medium.svg#nissan_promedium") format("svg")}
    @font-face {font-family:"NissanAG Medium Ext"; src:url("../fonts/nissanpro-medium-ext.svg#nissan_promed_ext") format("svg")}
}

html {height:100%; min-width:480px}

body {margin:0; padding:0; font:12px/15px "NissanAG Light Ext", sans-serif; color:#231f20; background:#fff}
body.last {min-width:480px; height:100%; background:url(../images/last-bg.jpg) no-repeat right top; background-size:cover}

@media (max-width:768px) {
    body {font-size:15px; line-height:17px}
    body.last {background-image:url(../images/last-bg-mobile.jpg)}
}

a {color:#231f20; outline:none}

img {border:none}

.wrapper {min-width:440px; padding:0 20px}

.last .wrapper {min-height:100%; position:relative}

header {display:table; width:100%; position:relative; z-index:2}
.logo {display:table-cell; vertical-align:top; line-height:0}
.title {display:table-cell; width:100%; vertical-align:middle; color:#c30c29; font:20px/24px "NissanAG Medium Ext", sans-serif; padding:0 0 0 30px}
.title-sub {font:16px/19px "NissanAG Light Ext", sans-serif; margin:6px 0 -25px 0; color:#000}
.steps {display:table-cell; vertical-align:middle}
.steps-desktop {width:142px; height:17px; background:url(../images/sprite.png); font:9px/17px "NissanAG Medium Ext", sans-serif; text-align:center; color:#000}
.steps-desktop div {float:left; width:47px}
.steps-desktop-1 {background-position:left -275px}
.steps-desktop-1 .steps-desktop-step-1 {color:#fff}
.steps-desktop-2 {background-position:left -292px}
.steps-desktop-2 .steps-desktop-step-1,
.steps-desktop-2 .steps-desktop-step-2 {color:#fff}
.steps-desktop-3 {background-position:left -309px}
.steps-desktop-3 .steps-desktop-step-1,
.steps-desktop-3 .steps-desktop-step-2,
.steps-desktop-3 .steps-desktop-step-3 {color:#fff}
.steps-mobile {display:none; white-space:nowrap; font:18px/20px "NissanAG Medium Ext", sans-serif; color:#b3b3b3}
.steps-mobile span {color:#c30c29}

@media (max-width:768px) {
    .title {font-size:18px; line-height:22px}
    .title-sub {font-size:14px; line-height:17px; margin:6px 0 -40px 0}
    .steps-desktop {display:none}
    .steps-mobile {display:table-cell}
}

.form {padding:45px 60px 21px 60px}
.form:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.form form {margin:0; padding:0; width:100%}
.form-row {float:left; width:50%; box-sizing:border-box; padding:0 0 0 27px}
.form-row:first-child {padding:0 27px 0 0}
.form-block {margin:20px 0 0 0; background:#f4f4f4; box-shadow:2px 2px 5px rgba(0, 0, 0, .36); vertical-align:top; padding:19px 30px 26px 30px}
.form-block-title {font-family:"NissanAG Medium Ext", sans-serif; color:#c30c29; min-height:30px; padding:0 0 6px 0}
.form-radio {margin:9px 0 0 0; display:table; border-collapse:collapse}
.form-radio div {cursor:pointer; position:relative; padding:0 0 0 30px; display:table-cell; vertical-align:middle; line-height:12px; height:21px}
.form-radio div span {display:block; position:absolute; left:0; top:0; width:22px; height:21px; background:url(../images/sprite.png); overflow:hidden}
.form-radio div span.checked {background-position:left -22px}
.form-radio div span input {position:absolute; left:-99px; top:-99px}
.form-submit {padding:20px 0 0 0; text-align:right}
.form-submit input {border:none; background:url(../images/sprite.png) -50px top; color:#fff; font:16px/53px "NissanAG Light Ext", sans-serif; width:229px; height:54px; text-align:center; box-sizing:border-box; margin:0; padding:0 28px 0 0; outline:none; cursor:pointer; -webkit-appearance:none}
.form-hint {display:none; color:#bf1130; text-align:center; padding:13px 0 0 0}

.form .form-row .form-block.error {background:#fff5f5}

@media (max-width:1000px) {
    .form {margin:0; position:relative}
}

@media (max-width:768px) {
    .form {padding:0; margin:0}
    .form-row {float:none; width:auto; padding:0}
    .form-row:first-child {padding:0}
    .form-block {display:block; margin:35px 0 0 0; width:auto}
    .form-block-title {min-height:34px}
    .form-radio div {padding:0 0 0 37px; line-height:15px; height:25px}
    .form-radio div span {width:26px; height:25px; background-position:-23px top}
    .form-radio div span.checked {background-position:-23px -26px}
}

.translate {font:11px/13px "NissanAG Regular", sans-serif; color:#000; opacity:.5; padding:18px 0 18px 10px; text-align:justify; position:relative}
.translate span {display:inline-block; vertical-align:top; width:10px; margin-left:-13px; padding:0 3px 0 0; font-size:8px; text-align:right; line-height:10px}
.last .translate {color:#fff; opacity:1; position:absolute; left:20px; bottom:0}

.profile {width:40%; margin:0 auto; position:relative}
.profile:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.profile-item {float:left; width:46%; padding:46% 0 0 0; margin:4% 0; position:relative; border-radius:50%}
.profile-item-border {position:absolute; left:-6px; top:-6px; width:100%; height:100%; padding:3px; border:3px solid #cececf; border-radius:50%; background:#fff}
.profile-item-photo {position:absolute; left:-3px; top:-3px; border:3px solid #fff; width:100%; height:100%; border-radius:50%; background-position:center; background-repeat:no-repeat; background-size:cover}
.profile-item:nth-child(2n) {margin-left:8%}
.profile-chart {position:absolute; left:0; top:0; width:100%; height:100%; opacity:.7}
.profile-chart-border {position:absolute; left:-6px; top:-6px; width:100%; height:100%; padding:6px}
.profile-chart-border-inner {position:absolute; left:0; top:0; width:100%; height:100%}
.profile-item-text {position:absolute; left:-186px; top:3px; width:180px}
.profile-item-text-value {font-size:16px; line-height:48px; color:#000}
.profile-item-text-value span {font-size:48px; font-family:"NissanAG Medium Ext", sans-serif}
.profile-item-text-value small {font-size:24px; font-family:"NissanAG Medium Ext", sans-serif}
.profile-item-text-name {height:20px; font:9px/22px "NissanAG Medium", sans-serif; color:#fff; background:#c71444; text-transform:uppercase; text-align:center; margin:-11px 0 0 0}
.profile-item:nth-child(2) .profile-item-text {left:auto; right:-186px}
.profile-item:nth-child(3) .profile-item-text {top:auto; bottom:7px}
.profile-item:nth-child(4) .profile-item-text {left:auto; right:-186px; top:auto; bottom:7px}
.profile-next {position:absolute; left:50%; top:50%; display:block; width:151px; height:35px; margin:-20px 0 0 -86px; padding:5px 20px 0 0; text-align:center; text-decoration:none; color:#fff; font-size:12px; line-height:13px; background:url(../images/sprite.png) left -135px}

@media (max-width:768px) {
    .profile {width:65%; padding:39px 0 0 0}
    .profile-item {float:none; width:100%; padding:100% 0 0 0; margin:0 0 136px 0}
    .profile-item:nth-child(2n) {margin-left:0}
    .profile-item:last-child {margin-bottom:68px}
    .profile-item-text {left:50%; margin-left:-120px; width:240px; top:auto; bottom:-98px}
    .profile-item:nth-child(2) .profile-item-text {left:50%; right:auto}
    .profile-item:nth-child(3) .profile-item-text {bottom:-98px}
    .profile-item:nth-child(4) .profile-item-text {left:50%; right:auto; bottom:-98px}
    .profile-item-text-value {font-size:21px; line-height:63px}
    .profile-item-text-value span {font-size:63px}
    .profile-item-text-value small {font-size:32px}
    .profile-item-text-name {height:28px; font-size:12px; line-height:28px; margin:-14px 0 0 0; background:#4c4c4c}
    .profile-next {position:relative; left:auto; top:auto; margin:2px auto 46px auto; padding:8px 14px 0 0; width:222px; height:44px; font-size:16px; line-height:17px; background-position:left -176px}
}

.last-text {text-align:center; padding:133px 0 0 0}
.last-text-inner {display:inline-block; vertical-align:top; text-align:left}
.last-text-title {font:42px/42px "NissanAG Medium Ext", sans-serif; color:#000}
.last-text-descr {font:14px/17px "NissanAG Light", sans-serif; color:#000; padding:8px 0 0 0}
.last-btn {display:block; width:151px; height:40px; padding:0 20px 0 0; text-align:center; text-decoration:none; color:#fff; font-size:16px; line-height:40px; background:url(../images/sprite.png) left -135px}

@media (max-width:768px) {
    .last-text {padding:37px 0 0 0; text-align:left}
    .last-btn {padding:0 14px 0 0; width:222px; height:52px; font-size:20px; line-height:52px; background-position:left -176px}
}

.auto {margin:20px auto 30px auto; max-width:1024px; position:relative}
.auto:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.auto-inner {float:left; width:100%}
.auto-slider {padding:30px 270px 0 150px; position:relative}
.auto-slider ul {margin:0; padding:0; list-style:none; line-height:0; position:relative}
.auto-slider ul li {position:absolute; left:-9999px; top:-9999px; margin:0; padding:0; width:100%}
.auto-slider ul li:first-child {position:relative; left:auto; top:auto}
.auto-slider ul li img {position:absolute; left:-9999px; top:-9999px; width:100%; vertical-align:middle}
.auto-slider ul li img:first-child {position:relative; left:auto; top:auto}
.auto-slider-ctrl {text-align:center; font-size:0; line-height:0; letter-spacing:-1px; margin:-20px 0 0 0; position:relative}
.auto-slider-ctrl-inner {display:inline-block; vertical-align:middle; margin:0 30px}
.auto-slider-ctrl-inner a {display:inline-block; vertical-align:middle; margin:0 0 0 10px; width:6px; height:6px; background:#000; border-radius:3px}
.auto-slider-ctrl-inner a:first-child {margin:0}
.auto-slider-ctrl-inner a.active {background:#c0c0c0; cursor:default}
.auto-slider-prev,
.auto-slider-next {display:inline-block; vertical-align:middle; width:13px; height:22px; background:url(../images/sprite.png) -172px -135px}
.auto-slider-next {background-position:-186px -135px}

.auto-title {position:absolute; left:110px; top:0; z-index:2}

.auto-descr {float:left; width:250px; margin:0 0 0 -250px; position:relative}

.auto-text {font:11px/13px "NissanAG Light", sans-serif; color:#000}
.auto-text ul {margin:0; padding:0; list-style:none}
.auto-text ul li {margin:0; padding:0 0 5px 0; position:relative}
.auto-text ul li:before {content:""; display:block; width:8px; height:8px; background:#c30c29; border-radius:4px; position:absolute; left:-17px; top:2px}

.auto-colors {padding:74px 0 0 0}
.auto-colors-title {color:#000; font:11px/13px "NissanAG Light", sans-serif}
.auto-colors-list {padding:1px 0 0 0; font-size:0; line-height:0; letter-spacing:-1px; margin:0 0 0 -11px}
.auto-colors-list:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.auto-colors-list a {box-sizing:border-box; width:16px; height:16px; border-radius:8px; float:left; margin:11px 0 0 11px; position:relative}
.auto-colors-list a.active:after {content:""; display:block; position:absolute; left:50%; top:50%; margin:-14px 0 0 -14px; width:24px; height:24px; border-radius:14px; border:2px solid #c5c5c5}

@media (max-width:768px) {
    .auto-inner {float:none; width:auto}
    .auto-slider {margin:0; padding:0 30px}
    .auto-slider-ctrl {top:50%; position:absolute; width:100%; left:0}
    .auto-slider-prev,
    .auto-slider-next {width:20px; height:33px; position:absolute; margin-top:-17px}
    .auto-slider-prev {left:0; background-position:-237px -176px}
    .auto-slider-next {right:0; background-position:-258px -176px}
    .auto-slider-ctrl-inner {display:none}

    .auto-title {top:-35px}

    .auto-descr {float:none; width:auto; margin:0}

    .auto-text {font-size:15px; line-height:17px; padding:10px 0 0 17px}
    .auto-text ul li:before {top:4px}

    .auto-colors {text-align:center; padding:54px 0 0 0}
    .auto-colors-title {font-size:15px; line-height:15px}
    .auto-colors-list {text-align:center; padding:10px 0 0 0}
    .auto-colors-list a {display:inline-block; float:none; margin:0 5px}
    .auto-colors-list a:first-child {margin:0 5px}
}

.auto-list {margin:0 auto 10px auto; max-width:800px; font-size:0; line-height:0; letter-spacing:-1px; border-bottom:1px solid #bfbfbf; position:relative}
.auto-list-row {padding:0 30px; display:none}
.auto-list-row:first-child {display:block}
.auto-list-item {display:inline-block; vertical-align:top; text-align:center; width:25%; padding:17px 0}
.auto-list a {display:inline-block; vertical-align:top}
.auto-list a:hover {text-decoration:none}
.auto-list-name img {display:none}
.auto-list-name img:first-child {display:inline-block}
.auto-list-photo {padding:5px 0 0 0}
.auto-list-photo img {display:none}
.auto-list-photo img:first-child {display:block}
.auto-list-item.active .auto-list-photo {opacity:.25}
.auto-list-link {font:9px/12px "NissanAG Light", sans-serif; letter-spacing:0}
.auto-list .auto-list-prev,
.auto-list .auto-list-next {position:absolute; top:50%; margin-top:-11px; display:block; width:13px; height:22px; background:url(../images/sprite.png) -172px -135px}
.auto-list .auto-list-prev {left:0}
.auto-list .auto-list-next {right:0; background-position:-186px -135px}

@media (max-width:768px) {
    .auto-list {border-bottom:none}
    .auto-list-row {border-top:1px solid #bfbfbf; padding:0; display:block !important}
    .auto-list-item {width:50%}
    .auto-list-name img {display:inline-block}
    .auto-list-name img:first-child {display:none}
    .auto-list-photo {padding:10px 0 0 0}
    .auto-list-photo img {display:block}
    .auto-list-photo img:first-child {display:none}
    .auto-list-link {font-size:14px; line-height:17px}
    .auto-list .auto-list-prev,
    .auto-list .auto-list-next {display:none}
}

.special-form {max-width:800px; margin:0 auto}
.special-form form {margin:0; padding:0}
.special-form-title {font-family:"NissanAG Medium Ext", sans-serif; color:#bf1130; padding:0 10px 0 0; display:table-cell; vertical-align:middle; width:33.33%}
.special-form-block {background:#f4f4f4; box-shadow:2px 2px 5px rgba(0, 0, 0, .36); vertical-align:top; padding:14px 20px 24px 20px; position:relative}
.special-form-block.error {background:#fff5f5}
.special-form-block-inner {display:table; width:100%}
.special-form-input {display:table-cell; vertical-align:middle; width:33.33%; padding:0 10px 0 0; position:relative}
.special-form-input input {vertical-align:top; width:100%; height:34px; box-sizing:border-box; margin:0; padding:0 33px; outline:none; border:none; background:#fff; border-radius:10px/6px; color:#4e4e56; font:16px/34px "NissanAG Light Ext", sans-serif; box-shadow:inset 2px 2px 0 #c3c3c3}
.special-form-hint {display:none; position:absolute; right:20px; bottom:10px; color:#bf1130}
.special-form-submit {display:table-cell; width:1%; text-align:right; vertical-align:middle}
.special-form-submit input {border:none; background:url(../images/sprite.png) left -135px; color:#fff; font:10px/40px "NissanAG Light Ext", sans-serif; width:171px; height:40px; text-align:center; box-sizing:border-box; margin:0; padding:0 20px 0 0; outline:none; cursor:pointer; -webkit-appearance:none}

@media (max-width:768px) {
    .special-form {padding:34px 0 0 0}
    .special-form-title {font-size:13px; display:block; width:auto; padding:0 0 10px 0}
    .special-form-block {padding:14px 35px 30px 35px}
    .special-form-block-inner {display:block}
    .special-form-submit {text-align:center; padding:20px 0 0 0; display:block; width:auto; padding:10px 0 0 0}
    .special-form-hint {text-align:center; position:relative; right:auto; bottom:auto; padding:10px 0 0 0}
    .special-form-input {float:none; width:100%; padding:10px 0 0 0; display:block; width:auto}
}